body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    background-color: lightcoral;
    font-weight: 700;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

button {
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
    background-color: cyan;
    font-weight: 700;
    margin: 5px 20px;
}

#new-game {
    background-color: lightcoral;
}

button:hover, #new-game:hover {
    background-color: aliceblue;
}