h1 {
    background-color: #CFCFCF;
}

p {
    background-color: #AFAFAF;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

button {
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
    background-color: cyan;
    font-weight: 700;
    margin: 5px 20px;
}

#new-game {
    background-color: lightcoral;
}

button:hover, #new-game:hover {
    background-color: aliceblue;
}